<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body class="edit">
    <%- include("../partials/header.ejs") %>
    <main class="edit">
        <div>
          <form action="/workouts/<%= workout._id %>?_method=PUT"" method="post">
            <fieldset>
             <legend>Edit Workout</legend></h1> 
              <label>
                Workout name:<input
                  type="text"
                  name="name"
                  placeholder="Workout Name"
                />
              </label>
              <label>
                Sets:<input
                  type="number"
                  name="sets"
                  placeholder="enter number of sets"
                />
              </label>
              <label>
                Reps:<input
                  type="number"
                  name="reps"
                  placeholder="enter number of reps"
                />
              </label>
              <label>
                  Calories Burned:<input type="number" name="caloriesBurned" placeholder="enter calories burned"/>
                </label>
                <label>
                    <img src="<%= workout.img%>" alt="" name="img">
                  </label>
            </fieldset>
            <input type="submit" value="Edit Workout" />
          </form>
        </div>
      </main>
</body>
</html>