<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body class="new">
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
        <form action="/workouts" method="post">
      <fieldset>
          <legend>Add a New Workout</legend>
  
          <label>Name: <input type="text" name="name" placeholder="Enter Fruit Name"></label>
          <label>Sets: <input type="number" name="sets" placeholder="Enter Number of Sets"></label>
          <label>Reps: <input type="number" name="reps" placeholder="Enter Number of Reps"></label>
          <label>Body Part: <input type="text" name="bodyPart" placeholder="Enter Body Part"></label>
          <label>Calories Burned: <input type="number" name="caloriesBurned" placeholder="Enter Calories Burned"></label>
          <label > <img src="https://www.hussle.com/blog/wp-content/uploads/2020/12/Gym-structure-1080x675.png" name="img" class="new image"></label>
        
  
          <input type="submit" value="Add New Workout">
          
      </fieldset>
      </form>
        </div>
      </main>
</body>
</html>